<!-- <% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>

  <% end %>
</ul>

<hr>


<hr>

<h2>Webhooks-edit</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>


<div class="Polaris-Page">
  <div class="Polaris-Page__Header">
    <div class="Polaris-Page__Title">
      <div>
        <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Sales by product</h1>
      </div>
      <div></div>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Card">
      <div class="">
        <div class="Polaris-DataTable__Navigation">

        </div>
        <div class="Polaris-DataTable">
          <div class="Polaris-DataTable__ScrollContainer">
            <table class="Polaris-DataTable__Table">
              <thead>
                <tr>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--header" scope="col">Product</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Price</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">SKU Number</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Net quantity</th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col">Net sales</th>
                </tr>

              </thead>
              <tbody>
                <% @products.each do |product| %>

                <tr class="Polaris-DataTable__TableRow">
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">dsf</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$875.00</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">124689</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">140</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$122,500.00</td>
                </tr>

                <% end %>
                <tr class="Polaris-DataTable__TableRow">
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">Mauve Cashmere Scarf</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$230.00</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">124533</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">83</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$19,090.00</td>
                </tr>
                <tr class="Polaris-DataTable__TableRow">
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">Navy Merino Wool Blazer with khaki chinos and yellow belt</th>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$445.00</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">124518</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">32</td>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$14,240.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<% content_for :javascript do %>
  <script type="text/javascript">
    window.mainPageTitle = 'Main Page';
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: window.mainPageTitle,
        icon: '/shopify.png',
        buttons: {
          secondary: {
            label: "Documentation",
            href: "http://docs.shopify.com/embedded-app-sdk",
            target: 'new'
          }
        }
      });
    });
  </script>
<% end %>

<h2>Shopify Embedded Example.</h2>

<p>This application demos the various ways an app can now interact with the Shopify Admin. See the project README for details.</p>

<p><a href="regular_app_page">Links to another page</a> work normally.</p>
<p><a href="orders">Links to another page</a> work normally.</p>
<p><a href="order_old">Links to another page</a> work normally.</p>



<h2>Function calls</h2>
<ul>
  <li><a href="#" onclick="ShopifyApp.Bar.loadingOff()">Turn spinner off</a></li>
  <li><a href="#" onclick="ShopifyApp.Bar.loadingOn()">Turn spinner on</a></li>
  <li><a href="#" onclick="window.mainPageTitle = window.mainPageTitle + '!'; ShopifyApp.Bar.setTitle(window.mainPageTitle)">Add an exclamation mark to the title</a></li>
  <li><a href="#" onclick="ShopifyApp.redirect('/orders')">Redirect to /orders within the Shopify Admin</a></li>

  <li><a href="#" onclick="ShopifyApp.flashNotice('Flash a notice message.');">Flash notice</a></li>
  <li><a href="#" onclick="ShopifyApp.flashError('Flash an error message.');">Flash error</a></li>
  <li><a href="#" onclick="ShopifyApp.Bar.setPagination({previous: {loading: false, callback: function(){alert('Previous clicked'); } }}); return false">Add pagination buttons</a></li>
</ul>


<!--
  This is example code, focusing on simplicity.
  Try not to use 'onclick' attributes in real applications. Use unobtrusive JavaScript instead.
  http://en.wikipedia.org/wiki/Unobtrusive_JavaScript)
  See modals.js for the implementation of these calls.
-->

<h2>Modal Windows</h2>
<ul>
  <li><a href="#" onclick="alertModal()">Alert modal</a></li>
  <li><a href="#" onclick="confirmModal()">Confirm modal</a></li>
  <li><a href="#" onclick="inputModal('Enter a value:')">Prompt modal</a></li>
  <li><a href="#" onclick="newModal('<%= modal_url %>','This is a custom modal title')">Modal window containing an iframe</a></li>
  <li><a href="#" onclick="newButtonModal('<%= modal_buttons_url %>','This modal has many buttons')">Modal window with a variety of buttons</a></li>
</ul>

<h2>Integrations</h2>
<ul>
  <li><a href="form_page">Go to form page</a></li>
  <li><a href="pagination">Pagination links</a></li>
  <li><a href="breadcrumbs">Breadcrumbs</a></li>
  <li><a href="buttons">Buttons</a></li>
</ul>

<h2>Error pages</h2>
<ul>
  <li><a href="/404.html">Error 404</a></li>
  <li><a href="/500.html">Error 500</a></li>
</ul>

<h3>Orders</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Order-ID</th>
      <th>Order-Name</th>
      <th>Total Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.total_price %></td>
        <td>
          <% if order.fulfillments.empty? %>
          <%= link_to "Fulfil Order", fulfillment_fulfill_order_2_path(:order_id => order.id, :shop_url => @shop_session.url), :remote => true %>
          <% else %>
            Fulfilled
          <% end %>
        </td>
      </tr>
      <% end %>

  </tbody>
</table>


<h2>Products</h2>


<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>


<form method="POST" action="<%= "https://#{@shop_session.url}/admin/api/2019-04/products.json" %>" data-shopify-app-submit="">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label>Title:</label>
    <input type="text" name="title"/>
  </p>
  <p>
    <label>vendor:</label>
    <input type="text" name="vendor"/>
  </p>
  <p>
    <label>product type:</label>
    <input type="text" name="product_type"/>
  </p>
  <p>
    <label>tags:</label>
    <input type="text" name="tags"/>
  </p>

  <input type="submit">




</form>
