<h1>All Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_orders.each do |order| %>
      <tr>
        <!-- <td><%= order.line_items %></td> -->
        <td><%= order.id %></td>

      </tr>
    <% end %>
  </tbody>
</table>



<br>
<h1>All Orders That Match Associated Products</h1>
<% @common_ids.each do |ooo| %>
  <tr>
    <td><%= ooo %></td>
  </tr>
<% end %>
<br>
<%= @store_product_ids %>
<%= @line_item_ids %>
